openapi: 3.0.1

info:
  title: Nasdaq Cloud Data Service
  description: Nasdaq Cloud Data Service (NCDS) provides a flexible and efficient method of delivery for real-time exchange data and other financial information. 
  contact:
    email: DataSales@Nasdaq.com
  version: 1.0.0
externalDocs:
  description: Find out more about Nasdaq Cloud Data Service
  url: https://www.nasdaq.com/solutions/cloud-data-service
servers:
  - url: https://clouddataservice.nasdaq.com/v1/
tags:
  - name: Equities
    description: ""
  - name: Indexes
    description: ""
  - name: Options
    description: ""
 # - name: GIDS
 #   description: Global Index Data Service (GIDS) - consolidated Nasdaq indexes and ETF valuation data as well as third-party partner data.
 # - name: CQT
 #   description: Consolidated Quotes & Trades (CQT) - Level 1 tick data for all U.S. exchange-traded equities.
 # - name: QBBO-NLS
 #   description: Nasdaq Basic (QBBO) & Nasdaq Last Sale Plus (NLS+) - real-time Best Bid and Offer and Last Sale information for all U.S. exchange-listed equities. Based on liquidity within the Nasdaq market center, as well as trades reported to the FINRA Trade Reporting Facility® (TRF®) operated in partnership with FINRA/Nasdaq TRF.
 # - name: NLS
 #   description: Nasdaq Last Sale Plus (NLS+) - real-time Last Sale information for all U.S. exchange-listed equities. Based on liquidity within the Nasdaq market center, as well as trades reported to the FINRA Trade Reporting Facility® (TRF®) operated in partnership with FINRA/Nasdaq TRF®.
 # - name: SO
 #   description: Smart Options (SO) National Best Bid and Offer (NBBO) and Trade messages as well as administrative messages for all listed options.
  - name: Reference
    description: ""
paths:
  /{source}/{offset}/equities/lasttrade/{symbol}:
    get:
      tags:
        - Equities
      summary: Get latest last sale eligible transaction, according to condition rules, for a given symbol
      operationId: getLastTrade
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq, psx, bsx, consolidated'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/Trade'
        400:
          description: Invalid symbol supplied
          content: { }
        404:
          description: Symbol not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /{source}/{offset}/equities/lastprice/{symbol}:
    get:
      tags:
        - Equities
      summary: Get latest price, regardless of conditions, for a given symbol
      operationId: getLastPrice
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq, psx, bsx, consolidated'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/Trade'
        400:
          description: Invalid symbol supplied
          content: { }
        404:
          description: Symbol not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /{source}/{offset}/equities/lastquote/{symbol}:
    get:
      tags:
        - Equities
      summary: Get latest last eligible quote, according to condition rules, for a given symbol
      operationId: getLastQuote
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq, psx, bsx, consolidated'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        400:
          description: Invalid symbol supplied
          content: { }
        404:
          description: Symbol not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /{source}/{offset}/equities/snapshot/{symbol}:
    get:
      tags:
        - Equities
      summary: Get latest snapshot of stats, according to condition rules, for a given symbol realtimeor delayed
      operationId: getEquitiesSnapshot
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq, psx, bsx, consolidated'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
        - name: symbol
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
        400:
          description: Invalid symbol supplied
          content: { }
        404:
          description: Symbol not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /{source}/{offset}/equities/trends:
    get:
      tags:
        - Equities
      summary: Get top 5 gaining & declining equities
      operationId: getEquitiesTrends
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq, psx, bsx, consolidated'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trends'
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /{source}/{offset}/index/value/{instrument}:
    get:
      tags:
        - Indexes
      summary: Get index value for instrument, realtime or delayed
      operationId: getIndexValue
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
        - name: instrument
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/IndexValue'
        400:
          description: Invalid instrument supplied
          content: { }
        404:
          description: Instrument not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /{source}/{offset}/options/prices/{identifier}:
    get:
      tags:
        - Options
      summary: Get option prices for identifier, realtime or delayed
      operationId: getOptionsPrices
      parameters:
        - name: source
          in: path
          description: 'data source code: nasdaq'
          required: true
          schema:
            type: string
        - name: offset
          in: path
          description: 'realtime or delayed'
          required: true
          schema:
            type: string
        - name: identifier
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/OptionPrices'
        400:
          description: Invalid identifier supplied
          content: { }
        404:
          description: Identifier not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /reference/symbols:
    get:
      tags:
        - Reference
      summary: Get all symbols
      operationId: getSymbols
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbols'
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /reference/symbol/{symbol}:
    get:
      tags:
        - Reference
      summary: Get symbol details
      operationId: getSymbolDetails
      parameters:
        - name: symbol
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/Symbol'
        400:
          description: Invalid symbol supplied
          content: { }
        404:
          description: Symbol not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /reference/indexes:
    get:
      tags:
        - Reference
      summary: Get all indexes
      operationId: getIndexes
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexes'
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /reference/index/{instrument}:
    get:
      tags:
        - Reference
      summary: Get index details
      operationId: getIndexDetails
      parameters:
        - name: instrument
          in: path
          description: '' 
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/Index'
        400:
          description: Invalid instrument supplied
          content: { }
        404:
          description: Instrument not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /reference/indexparticipants/{instrument}:
    get:
      tags:
        - Reference
      summary: Get index participants
      operationId: getIndexParticipants
      parameters:
        - name: instrument
          in: path
          description: '' 
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/IndexParticipants'
        400:
          description: Invalid instrument supplied
          content: { }
        404:
          description: Instrument not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
  /reference/option/{symbol}:
    get:
      tags:
        - Reference
      summary: Get all option instruments for a root/underlying symbol
      operationId: getOptionsBySymbol
      parameters:
        - name: symbol
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Option'
        400:
          description: Invalid symbol supplied
          content: { }
        404:
          description: Symbol not found
          content: { }
      security:
        - ncds_oauth:
            - read:data-stream
        - ncds_access_token: []
components:
  schemas:
    Symbols:
      type: object
      properties:
        symbol:
          type: string
        securityName:
          type: string
    Symbol:
      type: object
      properties:
        symbol:
          type: string
        securityName:
          type: string
        listingExchange:
          type: string
        etf:
          type: boolean
    Trade:
      type: object
      properties:
        timestamp:
          type: string
        symbol:
          type: string
        price:
          type: number
        size:
          type: integer
        conditions:
          type: string
        exchange:
          type: string
        change:
          type: integer
    Quote:
      type: object
      properties:
        timestamp:
          type: string
        symbol:
          type: string
        bidPrice:
          type: number
        bidSize:
          type: integer
        bidVenue:
          type: string
        askPrice:
          type: number
        askSize:
          type: integer
        askVenue:
          type: string
        conditions:
          type: string
    Snapshot:
      type: object
      properties:
        timestamp:
          type: string
        symbol:
          type: string
        open:
          type: number
        high:
          type: number
        low:
          type: number
        close:
          type: number
        volume:
          type: number
        highVolume:
          type: number
        lowVolume:
          type: number
        lastPrice:
          type: number
        lastSale:
          type: number
        previousOpen:
          type: number
        previousClose:
          type: number
        netChange:
          type: number
        percentChange:
          type: number
    Trends:
      type: object
      properties:
        timestamp:
          type: string
        gainers:
          $ref: '#/components/schemas/TrendChanger'
        decliners:
          $ref: '#/components/schemas/TrendChanger'
    TrendChanger:
      type: object
      properties:
        symbol:
          type: string
        lastPrice:
          type: number
        lastSale:
          type: number
        netChange:
          type: number
        percentChange:
          type: number
    Indexes:
      type: object
      properties:
        instrumentID:
          type: string
        instrumentName:
          type: string
    Index:
      type: object
      properties:
        instrumentID:
          type: string
        instrumentName:
          type: string
    IndexParticipants:
      type: object
      properties:
        instrumentID:
          type: string
        issueSymbol:
          type: string
        issueMIC:
          type: string
        issueName:
          type: string
    IndexValue:
      type: object
      properties:
        instrumentID:
          type: string
        timeStamp:
          type: string
        tickValue:
          type: number
        tickDirection:
          type: string
        currency:
          type: string
    Option:
      type: object
      properties:
        identifier:
          type: string
        symbol:
          type: string
    OptionPrices:
      type: object
      properties:
        identifier:
          type: string
        symbol:
          type: string
        expiration:
          type: string
        strikePrice: 
          type: number
        optionType:
          type: string
          enum:
          - "put"
          - "call"
        lastPrice:
          type: number
        lastSize:
          type: integer
        tradeTimestamp:
          type: string
        volume:
          type: integer
        ask:
          type: number
        askSize:
          type: integer
        askTimestamp:
          type: string
        bid:
          type: number
        bidSize:
            type: integer
        bidTimestamp:
            type: string
        openInterest:
            type: integer
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    ncds_oauth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://clouddataservice.auth.nasdaq.com/auth/realms/pro-realm/protocol/openid-connect/token
          scopes:
            read:data-stream: read the data-stream
    ncds_access_token:
      type: "apiKey"
      name: "access_token"
      in: "query"
